@import "breeze.css";

/*@import "dark.css";*/

* {
	border: none;
	font-family: Noto, JetBrainsMono Nerd Font;
	font-size: 14px;
}

window {
}

window#waybar {
  background-color: @crust;
  /*background: transparent;*/
	transition-property: background-color;
	transition-duration: 0.5s;
}
/*-----module groups----*/
.modules-right {
	background: transparent;
	margin: 0 -12px 0 0;
	border-radius: 20px;
}
.modules-center {
	background: transparent;
	margin: 0 0 0 0;
	border-radius: 20px;
}
.modules-left {
	background: transparent;
	margin: 0 0 0 -12px;
}

tooltip {
	background-color: @crust;
  border: 2px solid #585b70;
	color: @text;
	border-radius: 10px;
}

#workspaces {
  margin-left: 15px;
  padding-top: 2px;
  padding-bottom: 2px;
}
#workspaces button {
    /*background-color: @crust;*/
    background: transparent;
    color: @subtext0;
    padding: 0 10px;
    padding-bottom: 2px;
    font-weight: bold;
    border-radius: 2;
    /*border-bottom: 1px solid @base;
    border-top: 1px solid @base;*/

}
#workspaces button:hover {
    /*box-shadow: inherit;
    text-shadow: inherit;*/
    color: @text;
    /*background: @crust;*/
    background: transparent;
}

#workspaces button.active {
    /* color: #BC83E3; */
  color: @white;
	/*color: @crust;
 border-top: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  background: #FFFFFF;*/
}

#workspaces button.focused {
	color: @crust;
  /*border-top: 1px solid @blue;
  border-bottom: 1px solid @blue;
  background: @blue;*/
}

#taskbar button {
  /*background: @crust;*/
  background: transparent;
}

button.urgent {
    color: #11111b;
    background: #fab387;
    border-radius: 10px;
}

#custom-sep {
	color: #313244;
	font-size: 18px;
}

#custom-session {
	color: #FFFFFF;
  font-size: 18px;
}

#window {
	color: #FFFFFF;
	font-family: Noto, JetbrainsMono Nerd Font;
	font-size: 12;
}

#custom-recorder {
	font-size: 10px;
	margin: 2px 7px 0px 7px;
}

#clock {
	margin: 2px 0 0 0;
	padding: 2px;
	border-radius: 10px;
  color: #FFFFFF;
	font-family: Noto, JetbrainsMono Nerd Font;
}

#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
	padding: 0 5px;
  color: @white;
}

#mode {
	color: #cc3436;
	font-weight: bold;
}

#backlight {
  color: @white
}
/*-----Indicators----*/
#network.disconnected {
	color: @white;
}
#network.disabled {
	color: @red;
}
#idle_inhibitor.activated {
	color: @lavender;
}
#pulseaudio.muted {
	color: @red;
}
#battery.charging {
	color: @white;
}
#battery.warning:not(.charging) {
	color: @orange;
}
#battery.critical:not(.charging) {
	color: @red;
}
