* {
    BG:    #23262955;
    BGA:   #5e5c64FF;
    FG:    #D9E0EEff;
    FGA:   #F28FADff;
    BDR:   #585b70ff;
    SEL:   #232629ff;
    UGT:   #F28FADff;
    IMG:   #FAE3B0ff;
    OFF:   #575268ff;
    ON:    #ABE9B3ff;
}
